#title_pic {
  display: block;
  margin-left: Auto;
  margin-right: Auto;
  width: 50%;
}
.center-main-text {
	color:black;
	margin-left: 38%;
	margin-right: Auto;
	width: Auto
}
.center-second-text {
	color:black;
	margin-left: 42%;
	margin-right: Auto;
	width: Auto
}
.center-inner-text {
	color:black;
	margin-left: 0px;
	margin-right: 0px;
	width: 40%
}
img {
	display: block;
	margin-left: Auto;
	margin-right: Auto;
	width: Auto
}
video {
	display: block;
	margin-left: Auto;
	margin-right: Auto;
	width: Auto
}


#pic_list {
	display: flex;
	align-items: center;
}
.service-list {
    list-style-type: none;
    margin-left:500px;
    padding-left:0px;
    float: left;
    display: inline-block;
}


.service-list p {
    text-align: right; 
    margin: 0; 
    padding: 0;
}

/* under this message will be the table code */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}